* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.container {
  text-align: center;
  background: rgb(117, 117, 117);
  width: 30%;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 10px;
}
h2 {
  color: #fff;
}
h1 {
  color: rgb(202, 255, 128);
}
h1 span {
  display: inline-block;
  width: 30px;
}
button {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 1px 0 0 1px;
  cursor: pointer;
}
button:active {
  color: #fff;
  background-color: #000;
}