* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  width: 200px;
  margin: 0 auto;
}
#clock_menu {
  background: #f2f2f2;
  display: flex;
  height: 100%;
  border: 1px solid black;
  border-bottom: 0px;
}
#clock_menu li {
  text-align: center;
  width: 50%;
  border-left: 1px solid black;
  cursor: pointer;
}
#clock_menu li:first-child {
  border-left: 0;
}
.menu_btn {
  background: red;
}
.clock {
  text-align: center;
  font-size: 24px;
  padding: 5px;
  background: rgb(48, 48, 48) ;
  color: rgb(220, 255, 167);
}
#btn {
  width: 100%;
  /* display: none; */
  display: flex;
}
#btn input {
  width: 50%;
}